@using Microsoft.AspNetCore.Identity
@inject SignInManager<JTUser> SignInManager
@inject UserManager<JTUser> UserManager
@{
    JTUser currentUser = await UserManager.GetUserAsync(User);
}

<spam>
    <li class="nav-item dropdown pe-2 d-flex align-items-center cursor-pointer">

        @if (SignInManager.IsSignedIn(User))
        {
            <a class="d-flex align-items-center text-decoration-none dropdown-toggle pt-0"
           id="dropdownUser1"
           data-bs-toggle="dropdown"
           aria-expanded="false">
                @if (currentUser.AvatarData is not null)
                {
                    <img src="data:image/*;base64,@(Convert.ToBase64String(currentUser.AvatarData))"
                 alt="@currentUser.FullName avatar" width="28" height="28" class="rounded-circle">
                }
                else
                {
                    <img src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png"
                 alt="" width="28" height="28" class="rounded-circle">
                }
                <span class="d-none d-sm-inline mx-1">@currentUser.FirstName</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-end px-2 py-3 me-sm-n4"
            aria-labelledby="dropdownUser1">
                <li>
                    <a class="item text-dark nav-link text-center pb-0"
                   asp-area="Identity"
                   asp-page="/Account/Manage/Index"
                   title="Manage">
                        Profile
                    </a>
                </li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li>
                    <a class="item text-dark nav-link text-center"
                   href="javascript:document.getElementById('logoutForm').submit();">
                        Sign out
                    </a>
                </li>
            </ul>

        }
        else
        {

            <a href="javascript:;"
           class="nav-link text-body p-0"
           id="dropdownMenuButton"
           data-bs-toggle="dropdown"
           aria-expanded="false">
                <i class="fa fa-user me-sm-1"></i><span class="d-none d-sm-inline mx-1">Log In</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-end px-2 py-3 me-sm-n4"
            aria-labelledby="dropdownMenuButton">
                <li class="mb-1 text-center">
                    <a class="text-dark nav-link pb-0" asp-area="Identity" asp-page="/Account/Register">


                        Register

                    </a>
                </li>
                <li class="text-center">
                    <a class="item text-dark nav-link" asp-area="Identity" asp-page="/Account/Login">

                        Sign In

                    </a>
                </li>
            </ul>



            @*
        <a asp-area="Identity" asp-page="/Account/Login" class="d-flex align-items-center text-decoration-none dropdown-toggle " id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fa fa-user me-sm-1"></i><span class="d-none d-sm-inline mx-1">Log In</span>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow bg-white text-dark" aria-labelledby="dropdownUser1">
        <li><a class="dropdown-item text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a></li>
        <li>
        <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item text-dark" asp-area="Identity" asp-page="/Account/Login">Sign In</a></li>
        </ul>
        *@
        }
    </li>
</spam>
<form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
</form>


