@page
@model ChangePasswordModel
@using JATS.Services.Interfaces
@inject UserManager<JTUser> UserManager;
@inject ICompanyInfoService CompanyInfoService;
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
    JTUser currentUser = await UserManager.GetUserAsync(User);
    Company company = await CompanyInfoService.GetCompanyByIdAsync(currentUser.CompanyId);
}


<partial name="_StatusMessage" for="StatusMessage" />


<div class="card mt-3 mt-md-0">
    <div lass="card-header mt-2">
        <h5 class="text-center">@ViewData["Title"]</h5>
        @if (company.Name == "SpaceX")
        {
            <p class="text-danger  text-center">Some info for the demo accounts cannot be modified</p>
        }
    </div>
    <div class="card-body pt-0">
        <div class="mx-auto col-12 col-md-10">
            <form id="change-password-form" method="post">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @if (company.Name == "SpaceX")
                {
                    <label asp-for="Input.OldPassword" class="form-label"></label>
                    <input asp-for="Input.OldPassword" class="form-control"
                       autocomplete="current-password"
                       aria-required="true"
                       disabled
                       required />
                    <span asp-validation-for="Input.OldPassword" class="text-danger"></span>

                    <label asp-for="Input.NewPassword" class="form-label mt-3"></label>
                    <input asp-for="Input.NewPassword"
                       class="form-control"
                       autocomplete="new-password"
                       aria-required="true"
                       disabled
                       required />
                    <span asp-validation-for="Input.NewPassword" class="text-danger"></span>

                    <label asp-for="Input.ConfirmPassword" class="form-labelmt-3"></label>
                    <input asp-for="Input.ConfirmPassword"
                       class="form-control"
                       autocomplete="new-password"
                       required
                       aria-required="true"
                       disabled />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    <button type="submit"
                        class="w-100 btn btn-round btn-primary mt-3 disabled">
                        Update password
                    </button>
                }
                else
                {
                    <label asp-for="Input.OldPassword" class="form-label"></label>
                    <input asp-for="Input.OldPassword" class="form-control"
                       autocomplete="current-password"
                       aria-required="true"
                       required />
                    <span asp-validation-for="Input.OldPassword" class="text-danger"></span>

                    <label asp-for="Input.NewPassword" class="form-label mt-3"></label>
                    <input asp-for="Input.NewPassword"
                       class="form-control"
                       autocomplete="new-password"
                       aria-required="true"
                       required />
                    <span asp-validation-for="Input.NewPassword" class="text-danger"></span>

                    <label asp-for="Input.ConfirmPassword" class="form-labelmt-3"></label>
                    <input asp-for="Input.ConfirmPassword"
                       class="form-control"
                       autocomplete="new-password"
                       required
                       aria-required="true" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    <button type="submit" class="w-100 btn btn-round btn-primary mt-3">Update password</button>
                }



            </form>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
