@page
@model DownloadPersonalDataModel
@{
    ViewData["Title"] = "Download Your Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}


<div class="card mt-3 mt-md-0">
    <div class="card-header text-center pb-0">
        <h5>@ViewData["Title"]</h5>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
