@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
    Layout = "~/Views/Shared/_AccountOperationsLayout.cshtml";

}

<h1 class="display-6 text-center">@ViewData["Title"]</h1>
<p class="text-center">
    Please check your email to reset your password.
</p>
