@page
@model ForgotPasswordModel
@using JATS.Services.Interfaces
@inject UserManager<JTUser> UserManager;
@inject ICompanyInfoService CompanyInfoService

@{
    ViewData["Title"] = "Forgot your password?";
    Layout = "~/Views/Shared/_AccountOperationsLayout.cshtml";
}

<h1 class="display-6 text-center">@ViewData["Title"]</h1>
<p class="text-center">Enter your email.</p>
<hr />

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <label asp-for="Input.Email" class="form-label"></label>
    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
    <span asp-validation-for="Input.Email" class="text-danger"></span>
    <button type="submit" class="w-100 btn btn-round bg-gradient-primary mt-3">Reset Password</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
