@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
    Layout = "~/Views/Shared/_AccountOperationsLayout.cshtml";
}

<header>
    <h1 class="display-6 text-center">@ViewData["Title"]</h1>
    <p class="text-center">This account has been locked out, please try again later.</p>
</header>
