@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
    Layout = "~/Views/Shared/_AccountOperationsLayout.cshtml";
}

<h1 class="display-6 text-center">@ViewData["Title"]</h1>
<p class="text-center">
    Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
</p>
