@page
@model ResendEmailConfirmationModel
@{
    ViewData["Title"] = "Resend email confirmation";
    Layout = "~/Views/Shared/_AccountOperationsLayout.cshtml";
}

<h1 class="display-6 text-center">@ViewData["Title"]</h1>
<h2 class="text-center">Enter your email.</h2>
<hr />

<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <label asp-for="Input.Email" class="form-label mt-3"></label>
    <input asp-for="Input.Email" class="form-control" aria-required="true" />
    <span asp-validation-for="Input.Email" class="text-danger"></span>

    <button type="submit" class="w-100 btn btn-round bg-gradient-primary mt-3">Resend</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
