@model ProjectMembersViewModel

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3>@Model.Project.Name</h3>
                    <h6>Assign team members for Project</h6>
                </div>
                <div class="card-body">
                    <form method="post"
                          asp-action="AssignMembers"
                          asp-controller="Projects">
                        <input type="hidden" asp-for="Project.Id" />
                        <div class="col-12-mb-3">
                            <select required
                                    asp-for="@Model.SelectedUsers"
                                    asp-items="@Model.Users"
                                    multiple="multiple"
                                    class="form-control">
                            </select>
                        </div>
                        <div class="mt-4">
                            <input type="submit"
                                   class="btn btn-primary"
                                   value="Assign Users" />
                        </div>
                    </form>
                    <a asp-action="Details" asp-route-id="@Model.Project.Id">Back to Project</a>
                </div>
            </div>
        </div>

    </div>
</div>